<body>
          <div class="container">
            <section class="about-section">
              <h2>About</h2>
              <div class="about-content">
                <div class="about-block">
                  <p>Ever since I was a child, I've been drawn to art, and it was in the fifth grade that I first discovered graphic design. That moment sparked a passion that has shaped my career.</p>
                </div>
                <div class="about-block">
                  <p>While I focus primarily on UI/UX design, I enjoy working on a variety of projects, from websites to posters and more. With a creative eye for color and a strong attention to detail, I strive to bring each project to life in a way that's both visually engaging and meaningful.</p>
                </div>
              </div>
              <div class="contact-section">
                <a href="ContactPage">
                  <h3>Contact me</h3>
                </a>
                <p>Let’s create great results together</p>
              </div>
            </section>
          </div>
          </body>
