body {
          margin: 0;
          font-family: 'Kharkiv Tone', sans-serif;
          background-color: #141414;
          color: #F6F6F6;
          display: flex;
          justify-content: center;
          min-height: 100vh;
        }
        
        .container {
          height: 600px;
          width: 80%;
          max-width: 1200px;
          padding: 20px;
          background-color: white;
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
          border-radius: 8px;
        }
        
        .about-section {
          text-align: center;
          padding: 20px;
        }
        
        .about-section  h2 {
          font-size: 2.5rem;
          margin-bottom: 20px;
          color: #141414;
        }
        a {
          text-decoration: none; 
          color: #ffffff; 
        }
        
        a:hover {
          color: #92c8d1; 
          text-decoration: underline; 
        }
        
        .about-content {
          display: flex;
          justify-content: space-between;
          align-items: flex-start;
          gap: 20px;
          margin-bottom: 40px;
        }
        
        .about-block {
          height: 250px;
          flex: 1;
          padding: 15px;
          background-color: #141414;
          border-radius: 8px;
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        }
        
        .about-block p {
          font-size: 1.2rem;
          line-height: 1.6;
        }
        
        .contact-section {
          text-align: center;
          padding: 10px;
        }
        
        .contact-section h3 {
          color: #141414;
          font-size: 1.8rem;
          margin-bottom: 10px;
        }
        .contact-section h3:hover{
          color: #92c8d1;
        }
        
        .contact-section p {
          font-size: 1.2rem;
          color: #555;
        }