<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>PrvniApp</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
  <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Nicoletta</title>
        <link href="https://fonts.cdnfonts.com/css/kharkiv-tone" rel="stylesheet">
</head>
<body>
  


<header id="header" class="header">
    <div class="logo"><h1>Nicoletta</h1></div>
  <nav class="links">
      <ul class="menu">
          <li><a class="menuItem" routerLink=''>Home</a></li>
          <li><a class="menuItem" routerLink="about">About</a></li>
          <li><a class="menuItem" routerLink="projects">My work</a></li>
          <li><a class="menuItem" routerLink="contact">Contact me</a></li>
      </ul>
  </nav>
</header>
<router-outlet></router-outlet>
<style>
    @import url('https://fonts.cdnfonts.com/css/kharkiv-tone');
    </style>
</body>
</html>