<section class="myprojects" id="projects">
          <h1>My Projects</h1>
      </section>
      <section class="carousel">
          <a class="projectLinks" href="">
              <div class="carousel-item">
                  <img src="assets/images/Fotka_uprava.jpg" alt="" placeholder="img" />
                  <h3>Horse</h3>
                  <p>"In this project, I focused on enhancing the horse's natural colors, adjusting shadows and highlights to bring out more detail, and reducing background noise for a cleaner look. The edits create a vivid, polished image that highlights the horse's beauty and character.</p>
              </div>
          </a>
          <a class="projectLinks" href="">
              <div class="carousel-item">
                  <img src="assets/images/Busova_fotbal2.jpg" alt="" placeholder="img" />
      
                  <h3>Fottball poster</h3>
                  <p>I edited this football poster by restructuring the layout, adjusting the text, and fine-tuning the composition to enhance the overall flow. I focused on clarity and impact, ensuring the key details were easy to read while maintaining excitement and energy throughout the design.</p>
              </div>
          </a>
          <a class="projectLinks" href="">
              <div class="carousel-item">
                  <img src="assets/images/web2_Busova.jpg" alt="" placeholder="img" />
      
                  <h3>Web</h3>
                  <p>I designed this website with a clean, user-friendly layout, focusing on intuitive navigation and a visually appealing structure. I carefully selected typography and spacing to enhance readability, while ensuring the overall design aligned with the brand's identity and provided a seamless user experience.</p>
              </div>
              
          </a>
          <a class="projectLinks" href="">
              <div class="carousel-item">
                  <img src="assets/images/pokoj_busova.png" alt=""placeholder="img" />
                  <h3>Lowpoly bedroom</h3>
                  <p>I designed this low-poly bedroom by using geometric shapes to create a stylized, minimalist environment. The focus was on clean lines and subtle textures to evoke a sense of depth and dimension, while keeping the overall design simple yet visually engaging.</p>
              </div>
          </a>
      </section>
